.custom-calendar .react-datepicker__current-month {
    color: orange;
    font-weight: bold;
    
  }
  
  .custom-calendar .react-datepicker__day--selected,
  .custom-calendar .react-datepicker__day--keyboard-selected {
    background-color: orange;
    color: white;
  }
  
  .custom-calendar .react-datepicker__day--today {
    font-weight: bold;
    border-color: orange;
  }
  
  .custom-calendar .react-datepicker__header {
    background-color: white;
    border-bottom: 1px solid orange;
  }
  
  .custom-calendar .react-datepicker__day--disabled {
    color: #ccc;
  }
  
  .custom-calendar .react-datepicker__month-container {
    border-color: orange;
  }
  /* Custom scrollbar style */
.select-dropdown::-webkit-scrollbar {
  width: 8px;
}

.select-dropdown::-webkit-scrollbar-thumb {
  background-color: #FFA500; /* Orange */
  border-radius: 4px;
}

.select-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
}
