.rows {
    border-bottom: 1px solid #E2E2E2;
  }
  
  table th, table td {
    text-align: left;
    padding: 12px 15px;
  }
  
  table th {
    background-color: #FFA768;
    color: white;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td button {
    color: #FFA768;
    cursor: pointer;
  }
  
  .action {
    display: flex;
    align-items: center;
  }
  
  .picker-container {
    position: relative;
  }
  
  .picker-overlay {
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    z-index: 100;
  }
  
  .picker-overlay .text-orange-500 {
    color: #FFA768;
  }
  